@import "tailwindcss";


@theme {
    --color-main-color: #f4f4f4;
    --color-stroke-color: #C7C7C7;
    --color-dark-color: #121212;
    --color-dark-gray-color: #323232;
    --color-orange-color: #FFBD4A;
    --color-orange-dark-color: #633F00;
    --font-norms-b: "TTNormsPro-B";
    --font-norms-r: "TTNormsPro-R";
    --inset-shadow-bottom-black: inset 0px -153px 68px rgba(0, 0, 0, 0.8); 
}





/* GLOBAL */

* {
    @apply font-norms-r;
}

body {
  @apply bg-main-color
}

.title {
    @apply text-3xl font-norms-b  text-dark-gray-color 
}

.content {
    @apply w-3/5 flex justify-center;
}



.upDownItem {
    @apply cursor-pointer flex justify-center items-center w-full hover:bg-main-color rounded-2xl py-2 mb-1;
}


.home-category {
    @apply bg-main-color rounded-2xl flex justify-center transition-all grayscale-75 hover:grayscale-0 cursor-pointer hover:scale-[100.5%]
}

.home-category__title {
    @apply text-4xl font-norms-b! text-center text-white  transition-all text-shadow-lg/50 group-hover:text-orange-color group-hover:text-shadow-dark-gray-color
}


/* AUTH */


.login {
    @apply flex justify-between items-center;
}

.login-form {
    @apply flex flex-col w-[45%];
}

.login-title {
    @apply text-center mb-8 font-norms-b text-4xl;
}

.login-input {
    @apply bg-main-color border-stroke-color border border-solid py-2 px-5 rounded-lg mb-5 text-xl;
}

.login-input:last-child {
    @apply mb-3;
}

.login-image-container {
    @apply w-[38%];
}

.login-image-container img {
    @apply w-full rounded-2xl;
}

.login-btn {
    @apply bg-orange-color text-orange-dark-color py-3 px-8 rounded-lg border-none text-xl mb-5 font-norms-b;
}

.remember-me {
    @apply flex items-center mb-8 px-1 w-full;
}

.remember-me-checkbox {
    @apply accent-orange-color mr-3;
}

.remember-me-label {
    @apply text-dark-gray-color;
}

.auth-prompt {
    @apply text-center;
}

.auth-prompt__text {
    @apply text-dark-gray-color mr-1 inline;
}

.auth-prompt__link {
    @apply text-dark-gray-color underline;
}

.error-mesage {
    @apply bg-orange-color/30 text-orange-dark-color text-xl p-2;
}

.loader {
    @apply border-[5px] border-orange-color border-b-transparent rounded-full inline-block box-border w-12 h-12 animate-spin;
}



/* FONTS */

@font-face {
  font-family: "TTNormsPro-B";
  src: url(@/assets/fonts/TTNormsPro-bold.ttf);
}
    

@font-face  {
  font-family: "TTNormsPro-R";
  src: url(@/assets/fonts/TTNormsPro-regular.ttf);
}



