  
.content {
    width: 60%;
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-form {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

    &-title {
        font-family: TTNormsPro-B;
        text-align: center;
        margin-bottom: 32px;
    }

    &-input {
        padding: 8px 20px;
        background: $main-color;
        border: $stroke-color 1px solid; 
        border-radius: 8px;
        margin-bottom: 20px;
        font-size: 20px;
        :last-child {
            margin-bottom: 12px;
        }
    }

    &-image-container {
        width: 38%;

        img {
            width: 100%;
            border-radius: 20px;
        }
    }

    &-btn {
        background: $orange-color;
        padding: 12px 32px;
        border-radius: 8px;
        border: none;
        color: $orange-dark-color;
        font-size: 20px;
        font-family: TTNormsPro-B;
        margin-bottom: 20px;
    }
}


.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    &-checkbox {
        accent-color: $orange-color;
        margin-right: 12px;
    }

    &-label {
        color: $dark-gray-color;
    }


}

.auth-prompt {
    text-align: center;
    &__text {
        margin-right: 4px;
        color: $dark-gray-color;
        display: inline;
    }

    &__link {
        color: $dark-gray-color;
    }
}

.error-mesage {
    background: rgba($orange-color, 0.3);
    color: $orange-dark-color;
    font-size: 20px;
    padding: 8px;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid $orange-color;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
